*{
    margin:0px;
    padding:0px;
    margin-left:0px;
    padding-left:0px;
    padding-top:0px;
    left:0px;
    }
    html,body{
        margin: 0;
        height: 100vh;
    }
    #newsletter{
        width: 54rem;
        height: 32rem;
        margin:10vw auto;
    }
#news_letter_card{
    align-items: center;
    width: 50rem;
    height: 30rem;
    margin: 1rem 1rem 1rem 1rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: #15031F;
    box-shadow: -12.79438px -10.2355px 39.66258px 0px rgba(255, 255, 255, 0.25), 8.95607px 12.79438px 39.66258px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    padding-left: 1.8rem;
   
}
#user_info{
    width: 27rem;
    height: 3rem;
    grid-area: user_info;
}
#news_letter_card{
    display: grid;
    grid-template-areas:
    'header header header header header'
    'about about about smbl_div smbl_div'
    'user_info user_info user_info smbl_div smbl_div'
    'cdcmps cdcmps cdcmps smbl_div smbl_div';
   grid-template-columns: 20% 20% 5% 30% 17%;
   grid-template-rows: 14% 20% 12% 42%;
    grid-area: news_letter_card;
    gap: 1rem;
}
#email{
    grid-area: email;
    width: 18rem;
    height: 2.8rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #e9e6e6;
    box-sizing: border-box;
    margin-right: 0.5vw;
    border:none;
}
#email::placeholder{
    font-family: Nunito;
    font-size: 1.1rem;
}
#subscribe{
    grid-area: subscribe;
    width: 7.5rem;
    height: 2.8rem;
    flex-shrink: 0;
    box-sizing: border-box;
    border-radius: 0.625rem;
    background: #1EB9F2;
    border:none;
}
#subscribe span{
    width: 6.3125rem;
    color: #FFF;
    font-family: Nunito;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    
}
#header{
    grid-area: header;
    width: 46.82594rem;
    height: 3rem;
    margin-top: 2rem;
    margin-bottom: 0;
    color: #FFF;
    /* heading 1 */
    font-family: Bebas Neue;
    font-size: 3.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#header span{
    color: #1EB9F2;
    /* heading 1 */
    font-family: Bebas Neue;
    font-size: 3.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#about{
    grid-area: about;
    width:27rem;
    flex-shrink: 0;
    color: #FFF;
    /* Paragraph */
    font-family: Nunito;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#cdcmps{
width: 20rem;
flex-shrink: 0;
}
#cdcmps_div{
    grid-area: cdcmps;
    width: 20rem;
    height: 9rem;
    flex-shrink: 0;
    margin: 1.5rem 1rem 3rem 1rem;
}
#smbl{
    width: 27rem;
    flex-shrink: 0;
}
#smbl_div{
    grid-area: smbl_div;
    width: 28rem;
    height: 28rem;
    flex-shrink: 0;
    z-index: +1;
}
@media screen and (min-width:450px) and (max-width: 768px) {
   
    #newsletter{
        width: 40rem;
        height: 34rem;
    }
    #news_letter_card{
        width: 36rem;
        height: 32rem;
        display: grid;
        grid-template-areas:
        'header header header header'
        'about about about about'
        'user_info user_info user_info user_info'
        'cdcmps cdcmps cdcmps cdcmps';
        grid-template-columns: 25% 25% 20% 15%;
    }
    
    #user_info{
        width: 38rem;
    }
    #email{
        width: 24rem;
        height: 2.975rem;
    }
    #subscribe{
        width: 8.1rem;
        height: 2.975rem;
    }
    #subscribe span{
        width: 6.8rem;
        font-size: 1.1rem;
    }
    #header{
        width: 35rem;
        height: 3.1875;
        font-size: 3.3rem;
    }
    #header span{
        font-size: 3.3rem;
    }
    #about{
    width: 30rem;
    font-size:1.2rem;
    }
    #cdcmps{
        width: 24rem;
        height: 8rem;
    }
    #cdcmps_div{
    width: 25rem;
    height: 9rem;
    }
    #smbl_div{
        display: none;
    }
}

@media screen and (max-width:450px){
    #smbl_div{
        display: none;
    }
   #newsletter{
    width: 85vw;
    height:125vw;
    margin: 5vw auto;
   }
   #user_info, #email, #subscribe, #header, #about, #cdcmps_div{
    padding: 0;
    margin: 0;
    }
   #news_letter_card{
    margin: 0;
    width: 85vw;
    height: 120vw;
    grid-template-areas:
    'header header header'
    'about about about'
    'user_info user_info user_info'
    'cdcmps cdcmps cdcmps'
    ;
    grid-template-columns:32% 32% 25% ;
    grid-template-rows:22% 25% 12% 25%;
    padding-left: 5vw;
    box-sizing: border-box;
    border-radius: 5vw;
    }
    #user_info{
        width:74vw ;
    }
    #email{
        width: 50vw;
        height: 10vw;
        border-radius: 3vw;
    }
    #email::placeholder{
        font-size: 4vw;
    }
    #subscribe{
        width: 20vw;
        height: 10vw;
    }
    #subscribe span{
        width: 5.8rem;
        font-size: 3.5vw;
    }
    #header{
        width:80vw;
        height: 20vw;
        font-size: 10vw;
    }
    #header span{
        font-size: 10vw;
    }
    #about{
    width: 72vw;
    height: 30vw;
    font-size:4.1vw ;
    }
    #cdcmps{
        width: 68vw;
        height: 22.66vw;
    }
    #cdcmps_div{
    width: 70vw;
    height: 23vw;
    }

}
